
.box{
    position: relative;
    margin: auto;
    display: block;
    width: 400px;
    height: 420px;  
}
.base{
  position: absolute;
  width: 50%;
  height: 70%;
  left: 25%;
  top: 10%;
  background: #F43A3A;
  transform: rotateX(30deg) rotateY(-30deg);
  border-radius: 50% 50% 0 0 ;
  z-index: 1;
}